.etech-title-container {
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow:row wrap;

  & mat-icon {
    display: inline-flex;
    vertical-align: middle;
    flex: 0 0 5%;
  }

  & span {
    flex: 0 0 15%;
  }

  & div {
    flex: 0 0 60%;
  }
}

.search {
  width: 80%;
}

.search-button {
  flex: 0 0 auto;
  width: 20%;
  background-color: #e8e8e8;
}

.etech-sidebar-container {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
}


