.etech-title-container {
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow:row wrap;

  & mat-icon {
    display: inline-flex;
    vertical-align: middle;
    flex: 0 0 5%;
  }

  & span {
    flex: 0 0 15%;
  }

  & .search-container {
    flex: 0 0 60%;
  }

  & .spinner-container {
    flex: 0 0 20%;
    & mat-spinner {
      margin: 0 auto;
      display: block;
    }
  }
   & .profile-button {
      flex: 0 0 20%;

     border-radius: 0;
     & img {
       border-radius: 50%;
       width:20%
     }

     & span {
       width: 80%;
       text-align: center;
       white-space:nowrap;
       overflow: hidden;
       text-overflow: ellipsis;
     }
   }
}

.search {
  width: 80%;
}

.search-button {
  width: 19%;
  background-color: #e8e8e8;
}

.etech-sidebar-container {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
}


